@inherits LayoutComponentBase

<header class="topbar">
    <a class="brand" href="/"><img src="favicon.svg" alt="Logo" /></a>
    <div class="spacer"></div>
</header>

<main class="page-body">
    @Body
</main>